@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  padding-top: 50px;
  font-family: 'Lato';
}

h1, h2, h3, h4, h5 {
  color: #7507ba;
}

.logo img {
  height: 50px;
  width: auto;
}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
  }

.bulb {
  background-image: url('images/light.jpg');
  height: 650px;
  background-repeat: no-repeat;
  
}

.bulb-text h1 {
  color: white;
}


.bulb-text p {
  font-size: 30px;
  color: white;
}



.blur {
  background: url('/images/light2.jpg') no-repeat center center/cover;
  height: 650px;
  z-index: -1;
  filter: blur(70px);
  height: 650px;
}


.card {
  background-color: white;
  color: #7507ba;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.1s ease-in;
  min-width: 250px;
  max-width: 300px;
  font-size: 20px;
}

.card li {
  margin: 5px;
  text-align: left;
}


.card:hover {
  transform:  translateY(-7px);
}

.nav-color {
  background-color: white; 
}

.navbar a {
  color: #7507ba;
}

.navbar a:hover {
  border-bottom: 1px #7507ba solid;
}


.contact {
  font-size: 20px;
}


.footer {
  background-color: black;

}

.footer p, .footer a {
  color: white;

}

.social a {
  margin: 0 10px;
}

.display-image {
  max-width:100%;
  max-height: 100%;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  background-color: beige;
}


.list li {
  margin: 1vw;
}

.order {
  font-size: 25px;
  margin-top: 10px;
}


.showcase {
  position: relative;
}

.showcase-form {
    position: relative;
    top: 60px;
    width: fit-content;
    margin: 30px;
    padding: 20px;
    z-index: 100;
    justify-self: flex-end;
    
}

.showcase-form .form-control {
    margin: 10px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border: 0;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

.contact-image {
  margin-top: 30px;
}

.scroll {
  background-color: transparent;
  color: white;
}


.hidden {
  display: none;
  height: 0px;
}